@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

.center{
    justify-content: center;
    align-items: center;
    display: flex;
}

.margin{
    margin-left: auto;
    margin-right: auto;
}

.image{
    background-color: orange;
    border-radius: 120px;
}

.edit{
    cursor: pointer;
    margin-top: 0px;
}

.editIcon:hover{
    animation-name: spin;
    animation-duration: .4s;
    animation-timing-function: linear;
    cursor: pointer;
}

.nameWidth{
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 992px){
    .nameWidth{
        /* width: 60%; */
        font-size: 45px;
    }
}

@media only screen and (max-width: 768px){
    .nameWidth{
        width: 60%;
        font-size: 40px;
    }
}